<html>

<head>
  <title>ABOUT Page</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/bluedrop.svg">
</head>

<body>
  <div class="main content">
    <%- include('../partials/header') %>
    <img src="/images/image.png" />
    <h2>
      use this page to get your weather information!
    </h2>

  </div>





  <%- include('../partials/footer') %>
</body>

</html>