<html>
    <head>
        <title>ABOUT Page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%- include('../partials/header') %>
        

        <img src="/images/image.png"/>
        <h2><%= name %></h2>
        <h2><%= course %></h2>

        <%- include('../partials/footer') %>
    </body>
</html>