<html>
    <head>
        <title>HOME Page</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.s"></script>
        <link rel="icon" href="/images/weather-favicon.svg">
    </head>
    <body>
        <div class="main content">
        <h2>
            use this page to get your weather information!
        </h2>
        <%- include('../partials/header') %>
        
        <h2><%= name %></h2>
        <h3><%= course %></h3>

        <%- include('../partials/footer') %>

    </body>
</html>